* {
    margin:0;
    padding:0;
    background-color:#F1F1F1;
    font-family:"Open Sans", sans-serif;
}

#top {
    text-align:center;
    background-color:rgb(120, 123, 126);
    margin:0 auto;
    padding:10px;
    color:white;
}

#top p,h5 {
    background-color:rgb(120, 123, 126);
    color:white;
}

form {
    background-color:rgb(120, 123, 126);
    color:white;
}

#comments {
    height:800px;
    text-align:justify;
    margin:0 auto;
}

h4 {
    margin:10px;
    text-align:center;
}

h5 {
    text-align:center;
    padding:10px;
}

#err {
    color:rgb(92, 15, 15);
    font-size:16.5px;
}

.comment {
    height:190px;
    width:80%;
    background-color:white;
    margin:19px auto;
    padding:15px 25px;
    border:1px solid #c4c2c2;
    -webkit-box-shadow: -3px 5px 5px 0px rgba(209,197,209,1);
    -moz-box-shadow: -3px 5px 5px 0px rgba(209,197,209,1);
    box-shadow: -3px 5px 5px 0px rgba(209,197,209,1);
}

.comment p {
    background-color:white;
}

span {
    background-color:white;
    color:#4b628e;
    font-size:16px;
}

.w {
    font-weight:bold;
}

input {
    background-color:white;
}

textarea {
    background-color:white;
}

.rate {
color:#234175;
background-color:#F1F1F1;
padding:15px;
}

.com {
    color:#122544;
    background-color:#F1F1F1;
    padding:15px;
    font-weight:bold;
    font-size:20px;
    }

button {
    margin-top:10px;
}

button:hover {
    opacity:0.7;
}